*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* a medida da caixa seja medida através da borda*/
}

:root{
  --text-color: #FFFFFF;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switchbg-url: url(assets/MoonStars.svg);
}

.light{
  --text-color: #000000;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switchbg-url: url(assets/Sun.svg);
}

body{
  /*background-image: url(assets/bg-mobile.jpg); /*busca a imagem do arquivo*/
  /*background-repeat: no-repeat; /*Retira a repetição de imagem*/
  /*background-position: top center; /*posiciona a imagem no centro*/
  /*background-size: cover; /* size=tamanho cover= copre todo o espaço visivel*/
  
  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body *{
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container{
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/*profile*/

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 112px;
}

#profile p{
  margin-top: 8px;
  font-weight: 500; /*negrito*/
  line-height: 24px; /*altura da linha*/
}

/*swicht*/

#switch{
  position: relative; /*a posição vai relativa ao meu container switch*/
  width: 64px;
  margin: 4px auto;
}

#switch button{
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: #FFFFFF var(--switchbg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s;
}

.light #switch button{
  animation: slide-in 0.4s forwards; /*forwards => deixar a animação aonde ela parou*/
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/

ul{
  list-style: none; /*Retira os pontinhos da lista*/
  display: flex;
  flex-direction: column; /*alinhar na forma de coluna -somente com display flex-*/
  gap: 16px; /*Espaço entre os conteúdos*/
  padding: 24px 0px;
}

ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none; /*retira a linha de baixo do link*/
  font-weight: 500;
  transition: background 0.3s;
}

ul li a:hover{
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

/*Social-Links*/

#social-links{
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover{
  background: var(--highlight-color);
}

footer{
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
}

/*media queries*/

@media (min-width: 700px) {
  :root{
    --bg-url: url(assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from { /*from => onde ele começa*/
    left: 0;
  }
  to{ /*to => onde ele termina*/
    left: 50%;
  }
}

@keyframes slide-back {
  from { /*from => onde ele começa*/
    left: 50%;
  }
  to{ /*to => onde ele termina*/
    left: 0;
  }
}